In [1]:
import pandas.io.sql as psql
# 자료를 DataFrame(일종의 Table, Relation: Series의 집합체)과 Series(일종의 Column)로 리리

In [2]:
import psycopg

In [3]:
conn = psycopg.connect(host='localhost', port='5432', dbname='postgres', user='postgres', password='2024')

In [4]:
type(conn) # type, help, print를 적극 활용

psycopg.Connection

In [5]:
help(psql)

Help on module pandas.io.sql in pandas.io:

NAME
    pandas.io.sql

DESCRIPTION
    Collection of query wrappers / abstractions to both facilitate data
    retrieval and to reduce dependency on DB-specific API.

CLASSES
    abc.ABC(builtins.object)
        PandasSQL(pandas.core.base.PandasObject, abc.ABC)
            ADBCDatabase
            SQLDatabase
            SQLiteDatabase
    builtins.object
        BaseEngine
            SQLAlchemyEngine
    pandas.core.base.PandasObject(pandas.core.accessor.DirNamesMixin)
        PandasSQL(pandas.core.base.PandasObject, abc.ABC)
            ADBCDatabase
            SQLDatabase
            SQLiteDatabase
        SQLTable
            SQLiteTable

    class ADBCDatabase(PandasSQL)
     |  ADBCDatabase(con) -> 'None'
     |
     |  This class enables conversion between DataFrame and SQL databases
     |  using ADBC to handle DataBase abstraction.
     |
     |  Parameters
     |  ----------
     |  con : adbc_driver_manager.dbapi.Connection
     |
     |  Method resolution order:
     |      ADBCDatabase
     |      PandasSQL
     |      pandas.core.base.PandasObject
     |      pandas.core.accessor.DirNamesMixin
     |      abc.ABC
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, con) -> 'None'
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  execute(self, sql: 'str | Select | TextClause', params=None)
     |
     |  has_table(self, name: 'str', schema: 'str | None' = None) -> 'bool'
     |
     |  read_query(
     |      self,
     |      sql: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      params=None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |      Read SQL query into a DataFrame.
     |
     |      Parameters
     |      ----------
     |      sql : str
     |          SQL query to be executed.
     |      index_col : string, optional, default: None
     |          Column name to use as index for the returned DataFrame object.
     |      coerce_float : bool, default True
     |          Raises NotImplementedError
     |      params : list, tuple or dict, optional, default: None
     |          Raises NotImplementedError
     |      parse_dates : list or dict, default: None
     |          - List of column names to parse as dates.
     |          - Dict of ``{column_name: format string}`` where format string is
     |            strftime compatible in case of parsing string times, or is one of
     |            (D, s, ns, ms, us) in case of parsing integer timestamps.
     |          - Dict of ``{column_name: arg dict}``, where the arg dict
     |            corresponds to the keyword arguments of
     |            :func:`pandas.to_datetime` Especially useful with databases
     |            without native Datetime support, such as SQLite.
     |      chunksize : int, default None
     |          Raises NotImplementedError
     |      dtype : Type name or dict of columns
     |          Data type for data or columns. E.g. np.float64 or
     |          {'a': np.float64, 'b': np.int32, 'c': 'Int64'}
     |
     |          .. versionadded:: 1.3.0
     |
     |      Returns
     |      -------
     |      DataFrame
     |
     |      See Also
     |      --------
     |      read_sql_table : Read SQL database table into a DataFrame.
     |      read_sql
     |
     |  read_sql = read_query(
     |      self,
     |      sql: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      params=None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |
     |  read_table(
     |      self,
     |      table_name: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      columns=None,
     |      schema: 'str | None' = None,
     |      chunksize: 'int | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |      Read SQL database table into a DataFrame.
     |
     |      Parameters
     |      ----------
     |      table_name : str
     |          Name of SQL table in database.
     |      coerce_float : bool, default True
     |          Raises NotImplementedError
     |      parse_dates : list or dict, default: None
     |          - List of column names to parse as dates.
     |          - Dict of ``{column_name: format string}`` where format string is
     |            strftime compatible in case of parsing string times, or is one of
     |            (D, s, ns, ms, us) in case of parsing integer timestamps.
     |          - Dict of ``{column_name: arg}``, where the arg corresponds
     |            to the keyword arguments of :func:`pandas.to_datetime`.
     |            Especially useful with databases without native Datetime support,
     |            such as SQLite.
     |      columns : list, default: None
     |          List of column names to select from SQL table.
     |      schema : string, default None
     |          Name of SQL schema in database to query (if database flavor
     |          supports this).  If specified, this overwrites the default
     |          schema of the SQL database object.
     |      chunksize : int, default None
     |          Raises NotImplementedError
     |      dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
     |          Back-end data type applied to the resultant :class:`DataFrame`
     |          (still experimental). Behaviour is as follows:
     |
     |          * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
     |            (default).
     |          * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
     |            DataFrame.
     |
     |          .. versionadded:: 2.0
     |
     |      Returns
     |      -------
     |      DataFrame
     |
     |      See Also
     |      --------
     |      pandas.read_sql_table
     |      SQLDatabase.read_query
     |
     |  run_transaction(self)
     |
     |  to_sql(
     |      self,
     |      frame,
     |      name: 'str',
     |      if_exists: "Literal['fail', 'replace', 'append']" = 'fail',
     |      index: 'bool' = True,
     |      index_label=None,
     |      schema: 'str | None' = None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      method: "Literal['multi'] | Callable | None" = None,
     |      engine: 'str' = 'auto',
     |      **engine_kwargs
     |  ) -> 'int | None'
     |      Write records stored in a DataFrame to a SQL database.
     |
     |      Parameters
     |      ----------
     |      frame : DataFrame
     |      name : string
     |          Name of SQL table.
     |      if_exists : {'fail', 'replace', 'append'}, default 'fail'
     |          - fail: If table exists, do nothing.
     |          - replace: If table exists, drop it, recreate it, and insert data.
     |          - append: If table exists, insert data. Create if does not exist.
     |      index : boolean, default True
     |          Write DataFrame index as a column.
     |      index_label : string or sequence, default None
     |          Raises NotImplementedError
     |      schema : string, default None
     |          Name of SQL schema in database to write to (if database flavor
     |          supports this). If specified, this overwrites the default
     |          schema of the SQLDatabase object.
     |      chunksize : int, default None
     |          Raises NotImplementedError
     |      dtype : single type or dict of column name to SQL type, default None
     |          Raises NotImplementedError
     |      method : {None', 'multi', callable}, default None
     |          Raises NotImplementedError
     |      engine : {'auto', 'sqlalchemy'}, default 'auto'
     |          Raises NotImplementedError if not set to 'auto'
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __abstractmethods__ = frozenset()
     |
     |  __annotations__ = {}
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from PandasSQL:
     |
     |  __enter__(self) -> 'Self'
     |
     |  __exit__(self, *args) -> 'None'
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from pandas.core.base.PandasObject:
     |
     |  __repr__(self) -> 'str'
     |      Return a string representation for a particular object.
     |
     |  __sizeof__(self) -> 'int'
     |      Generates the total memory usage for an object that returns
     |      either a value or Series of values
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from pandas.core.accessor.DirNamesMixin:
     |
     |  __dir__(self) -> 'list[str]'
     |      Provide method name lookup and completion.
     |
     |      Notes
     |      -----
     |      Only provide 'public' methods.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from pandas.core.accessor.DirNamesMixin:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class BaseEngine(builtins.object)
     |  Methods defined here:
     |
     |  insert_records(
     |      self,
     |      table: 'SQLTable',
     |      con,
     |      frame,
     |      name: 'str',
     |      index: 'bool | str | list[str] | None' = True,
     |      schema=None,
     |      chunksize: 'int | None' = None,
     |      method=None,
     |      **engine_kwargs
     |  ) -> 'int | None'
     |      Inserts data into already-prepared table
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class PandasSQL(pandas.core.base.PandasObject, abc.ABC)
     |  Subclasses Should define read_query and to_sql.
     |
     |  Method resolution order:
     |      PandasSQL
     |      pandas.core.base.PandasObject
     |      pandas.core.accessor.DirNamesMixin
     |      abc.ABC
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __enter__(self) -> 'Self'
     |
     |  __exit__(self, *args) -> 'None'
     |
     |  execute(self, sql: 'str | Select | TextClause', params=None)
     |
     |  has_table(self, name: 'str', schema: 'str | None' = None) -> 'bool'
     |
     |  read_query(
     |      self,
     |      sql: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      params=None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |
     |  read_table(
     |      self,
     |      table_name: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      columns=None,
     |      schema: 'str | None' = None,
     |      chunksize: 'int | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |
     |  to_sql(
     |      self,
     |      frame,
     |      name: 'str',
     |      if_exists: "Literal['fail', 'replace', 'append']" = 'fail',
     |      index: 'bool' = True,
     |      index_label=None,
     |      schema=None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      method: "Literal['multi'] | Callable | None" = None,
     |      engine: 'str' = 'auto',
     |      **engine_kwargs
     |  ) -> 'int | None'
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __abstractmethods__ = frozenset({'_create_sql_schema', 'execute', 'has...
     |
     |  __annotations__ = {}
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from pandas.core.base.PandasObject:
     |
     |  __repr__(self) -> 'str'
     |      Return a string representation for a particular object.
     |
     |  __sizeof__(self) -> 'int'
     |      Generates the total memory usage for an object that returns
     |      either a value or Series of values
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from pandas.core.accessor.DirNamesMixin:
     |
     |  __dir__(self) -> 'list[str]'
     |      Provide method name lookup and completion.
     |
     |      Notes
     |      -----
     |      Only provide 'public' methods.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from pandas.core.accessor.DirNamesMixin:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class SQLAlchemyEngine(BaseEngine)
     |  SQLAlchemyEngine() -> 'None'
     |
     |  Method resolution order:
     |      SQLAlchemyEngine
     |      BaseEngine
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self) -> 'None'
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  insert_records(
     |      self,
     |      table: 'SQLTable',
     |      con,
     |      frame,
     |      name: 'str',
     |      index: 'bool | str | list[str] | None' = True,
     |      schema=None,
     |      chunksize: 'int | None' = None,
     |      method=None,
     |      **engine_kwargs
     |  ) -> 'int | None'
     |      Inserts data into already-prepared table
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from BaseEngine:
     |
     |  __dict__
     |      dictionary for instance variables
     |
     |  __weakref__
     |      list of weak references to the object

    class SQLDatabase(PandasSQL)
     |  SQLDatabase(con, schema: 'str | None' = None, need_transaction: 'bool' = False) -> 'None'
     |
     |  This class enables conversion between DataFrame and SQL databases
     |  using SQLAlchemy to handle DataBase abstraction.
     |
     |  Parameters
     |  ----------
     |  con : SQLAlchemy Connectable or URI string.
     |      Connectable to connect with the database. Using SQLAlchemy makes it
     |      possible to use any DB supported by that library.
     |  schema : string, default None
     |      Name of SQL schema in database to write to (if database flavor
     |      supports this). If None, use default schema (default).
     |  need_transaction : bool, default False
     |      If True, SQLDatabase will create a transaction.
     |
     |  Method resolution order:
     |      SQLDatabase
     |      PandasSQL
     |      pandas.core.base.PandasObject
     |      pandas.core.accessor.DirNamesMixin
     |      abc.ABC
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __exit__(self, *args) -> 'None'
     |
     |  __init__(
     |      self,
     |      con,
     |      schema: 'str | None' = None,
     |      need_transaction: 'bool' = False
     |  ) -> 'None'
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  check_case_sensitive(self, name: 'str', schema: 'str | None') -> 'None'
     |      Checks table name for issues with case-sensitivity.
     |      Method is called after data is inserted.
     |
     |  drop_table(self, table_name: 'str', schema: 'str | None' = None) -> 'None'
     |
     |  execute(self, sql: 'str | Select | TextClause', params=None)
     |      Simple passthrough to SQLAlchemy connectable
     |
     |  get_table(self, table_name: 'str', schema: 'str | None' = None) -> 'Table'
     |
     |  has_table(self, name: 'str', schema: 'str | None' = None) -> 'bool'
     |
     |  prep_table(
     |      self,
     |      frame,
     |      name: 'str',
     |      if_exists: "Literal['fail', 'replace', 'append']" = 'fail',
     |      index: 'bool | str | list[str] | None' = True,
     |      index_label=None,
     |      schema=None,
     |      dtype: 'DtypeArg | None' = None
     |  ) -> 'SQLTable'
     |      Prepares table in the database for data insertion. Creates it if needed, etc.
     |
     |  read_query(
     |      self,
     |      sql: 'str',
     |      index_col: 'str | list[str] | None' = None,
     |      coerce_float: 'bool' = True,
     |      parse_dates=None,
     |      params=None,
     |      chunksize: 'int | None' = None,
     |      dtype: 'DtypeArg | None' = None,
     |      dtype_backend: "DtypeBackend | Literal['numpy']" = 'numpy'
     |  ) -> 'DataFrame | Iterator[DataFrame]'
     |      Read SQL query into a DataFrame.
     |
     |      Parameters
     |      ----------
     |      sql : str
     |          SQL query to be executed.
     |      index_col : string, optional, default: None
     |          Column name to use as index for the returned DataFrame object.
     |      coerce_float : bool, default True
     |          Attempt to convert values of non-string, non-numeric objects (like
     |          decimal.Decimal) to floating point, useful for SQL result sets.
     |      params : list, tuple or dict, optional, default: None
     |          List of parameters to pass to execute method.  The syntax used
     |          to pass parameters is database driver dependent. Check your
     |          database driver documentation for which of the five syntax styles,
     |          described in PEP 249's paramstyle, is supported.
     |          Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}
     |      parse_dates : list or dict, default: None
     |          - List of column names to parse as dates.
     |          - Dict of ``{column_name: format string}`` where format string is
     |            strftime compatible in case of parsing string times, or is one of
     |            (D, s, ns, ms, us) in case of parsing integer timestamps.
     |          - Dict of ``{column_name: arg dict}``, where the arg dict
     |            corresponds to the keyword arguments of
     |            :func:`pandas.to_datetime` Especially useful with databases
     |            without native Datetime support, such as SQLite.
     |      chunksize : int, default None
     |          If specified, return an iterator where `chunksize` is the number
     |          of rows to include in each chunk.
     |      dtype : Type name or dict of columns
     |          Data type for data or columns. E.g. np.float64 or
     |          {'a': np.float64, 'b': np.int32, 'c': 'Int64'}
     |
     |          .. versionadded:: 1.3.0
     |
     |      Returns
     |      -------
     |      DataFrame
     |
     |      See Also
     |      --------
     |      read_sql_table : Read SQL database table into a DataFrame.
     |      read_sql
     |

In [6]:
df = psql.read_sql('SELECT * FROM volt_table', conn) # def: DataFrame

C:\Users\D510\AppData\Local\Temp\ipykernel_16404\3917142143.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = psql.read_sql('SELECT * FROM volt_table', conn) # def: DataFrame

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.describe() # DataFrame을 묘사하기

                 id     meas_time       volt
count  2.300000e+01  2.300000e+01  23.000000
mean   1.731542e+09  1.731542e+09   3.301245
std    2.985248e+05  2.985248e+05   0.003237
min    1.731307e+09  1.731307e+09   3.299120
25%    1.731309e+09  1.731309e+09   3.299120
50%    1.731309e+09  1.731309e+09   3.299120
75%    1.731907e+09  1.731907e+09   3.304008
max    1.731907e+09  1.731907e+09   3.308896

In [9]:
seriesId = df['id']

In [10]:
type(seriesId)

pandas.core.series.Series

In [11]:
print(seriesId)

0     1731306892
1     1731306902
2     1731307246
3     1731307251
4     1731308828
5     1731308830
6     1731308832
7     1731308834
8     1731308836
9     1731308839
10    1731308841
11    1731308843
12    1731308845
13    1731308847
14    1731906558
15    1731906560
16    1731906562
17    1731906563
18    1731906565
19    1731906567
20    1731906568
21    1731906570
22    1731906572
Name: id, dtype: int64

In [12]:
seriesVolt = df['volt']

In [13]:
print(seriesVolt)

0     3.308896
1     3.304008
2     3.308896
3     3.304008
4     3.304008
5     3.299120
6     3.299120
7     3.299120
8     3.304008
9     3.299120
10    3.299120
11    3.299120
12    3.299120
13    3.299120
14    3.304008
15    3.299120
16    3.299120
17    3.299120
18    3.299120
19    3.299120
20    3.304008
21    3.299120
22    3.299120
Name: volt, dtype: float64

In [14]:
seriesVolt.mean() # 평균값

np.float64(3.301245443478261)

In [15]:
seriesVolt.max() # 최대값

np.float64(3.3088956)

In [16]:
seriesVolt.var() # 분산

np.float64(1.0480783981660047e-05)

In [17]:
seriesVolt.std() # 표준 편차

np.float64(0.0032374038953550495)